*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
*::selection{
    background-color: #5f9ea091;
}
*:root{
    --container:1000px;
}
body{
    font-family: 'Tahoma',sans-serif;
    background-color:#ffffff;
    width:100vw;
    height:100vh;
}

/* dark mode from Js */
.darkMode{
    background-color: black;
    color:rgba(255, 255, 255, 0.863);
}
.darkMode .placeOne p{
    color:white;
}
.darkMode .head::after{
    background-color: black;
}
.darkMode .nav-bar ul a{
    color:rgba(255, 255, 255, 0.501);
}
.darkMode .scrol{
    background-color: #1b1b1bf3;
}
.darkMode .nav-bar ul a:hover{
    color:rgba(255, 255, 255);
}
.darkMode .placeOne h1 span{
    color:black;
}
.darkMode input[type=text]{
    background-color: #1b1b1bf3!important;
    box-shadow: -1px 1px 1px rgb(90, 90, 90);
}
.scrol.darkMode input[type=text]{
    background-color: black!important;
    box-shadow: -1px 1px 1px rgb(90, 90, 90);
}
/* scroll effet from Js */
.scrol{
    background-color: rgba(245, 252, 252, 0.873);
    box-shadow: -1px 1px 1px lightgray;
}
/* --------------------- */
header{
    height:65px;
    /* background-color: red; */
    position: fixed;
    width: 100%;
    top:0;
    z-index: 200;
    padding-bottom:15px;
    padding-top:15px;
}
/* apres click ctrl + b */
.searchSuggession{
    display: block!important;
    width: 50%;
    height: 100px;
    position: absolute;
    z-index: 2000;
    background-color: white;
    top:70px;
    left: 20%;
    box-shadow: 1px 1px 2px rgba(95, 158, 160, 0.452);
    padding: 20px;
    overflow-y: auto;
    /* display: grid; */

}
.suggest{
    cursor: pointer;
    display: flex!important;
    justify-content: space-between!important;
    align-items: center!important;
    padding: 10px;
}
.like{
    cursor: pointer;
}
.searchSuggession small{
    border-bottom: 1px solid cadetblue;
    width: 100%;
    display: block;
    padding: 10px;
}
.logo span{
    color:#5f9ea0; 
    font-size: 20px;   
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    position: relative;
}
.nav-bar ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.nav-bar ul li{
    position: relative;
}
.nav-bar ul li::after{
    content: "";
    position: absolute;
    display: block;
    width:0%;
    height: 2px;
    background-color: cadetblue;
    transition: .3s ease-in;
}
.nav-bar ul li:hover::after{
    width:100%;
}
.nav-bar ul a{
    text-decoration:none;
    font-size: 12px;
    font-weight: 500;
    color:rgba(0, 0, 0, 0.501);
}
.nav-bar ul a:hover{
    color: black;
}
.search{
    position: relative;
    height: 20px;
}
.search input{
    width:200px;
    height: 100%;
    border-radius: 20px;
    border: 1px solid lightgray;
    padding: 5px;
    font-size: 10px;
}
.search input:focus{
    outline: none;
}
.search  button{
    background: cadetblue;
    border: none;
    height: 80%;
    border-radius: 50%;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    right: 0;
    top:4px;
    color: white;
    cursor: pointer;
}
.search  button:hover{
    transform: scale(1.2);
}
.clickSearch{
    outline: 2px solid cadetblue;
    border-radius: 20px;
}
/* .search  button span{
    margin: 0;
    display: inline-block;
    font-size: 15px;
    transform: translateX(5px);
} */
.mode{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    font-size: 10px;
}
.mode input{
    visibility: hidden;
}
.mode input:checked + .btnLabel{
    background-color: #e8ecf1;
}
.mode input:checked + .btnLabel::after{
    background-color: #f3e672;
    transform: translateX(20px);
}
.mode .btnLabel{
    background-color: black;
    width: 40px;
    height: 20px;
    position: absolute;
    left:0;
    top:0;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 20px 20px;
    grid-template-areas: "e" "r";
    grid-area: r;
    color:white;
    font-size: 15px;
    cursor: pointer;

}
.mode .btnLabel::after{
    content: '';
    display: block;
    width: 20px;
    height:20px;
    grid-area: e;
    background-color: white;
    border-radius: 50%;
}
.mode i{
    font-size: 16px;
    color:#c8ddddd2;
    cursor: pointer;
}
.userConnect .ronder{
    display: block;
    width:40px;
    height: 40px;
    border-radius: 50%;
    background-color: cadetblue;
    position:relative;
    cursor: pointer;
}
.userConnect .ronder .active{
    display: block;
    width:10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(31, 129, 44);
    position: absolute;
    bottom: 5px;
    right: 0;
    animation:user 1s ease-out infinite;
}
.userConnect .ronder .red {
    display: block;
    width:10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(245, 9, 9);
    position: absolute;
    bottom: 5px;
    right: 0;
    animation:user 1s ease-out infinite;
}
@keyframes user {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
/* user icon command click to iconUser*/
#bc{
    display: none!important ;
    background-color: #5f9ea02c;
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0px;
    
}
.user{
    background-color: white;
    width:200px;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap:20px;
}
.user img{
    width: 16px;
    align-self: flex-end;
    cursor: pointer;
}
.btnBuy{
    background-color: cadetblue;
    color: white;
    padding: 10px 20px;
    font-size: 500;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.token-number{
    /* font-weight: bold; */
    background-color: black;
    color: rgba(248, 247, 247, 0.452);
    padding: 2px;
}
/* js effet on Btn user */
.showUser ~ #bc{
    display:flex !important;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 30px;
}
/* avoid conflit */
.darkMode .showUser ~ #bc{
    color:black;
}
/* compteur  user tokken style*/
.compteur{
    font-weight: bold;
}
.nav-open-icon{
    display: none;
}
.container{
    /* width:90%; */
    width: 1000px;
    /* background-color: red; */
    margin:50px auto;
    padding: 20px;
}
/* command to go back */
.back{
    cursor: pointer;
    width: fit-content;
    padding: 10px 20px;
    border: 1px solid #5f9ea09f;
    border-radius: 20px;
    position: fixed;
    top:80px;
    right: 20px;
    font-size: 12px;
    z-index: 2000;
}
.move-resize{
    transform: translateY(50px)!important;
}
.heroSection{
    display:grid;
    grid-template-columns: 400px 1fr;
    gap: 50px;
}
.placeOne{
    width: 100%;
}
.placeOne h1{
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 20px;
}
.placeOne h1 span{
    color: rgba(255, 255, 255, 0.877);
    -webkit-text-stroke: 2px cadetblue;
}
.placeOne p{
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 500;
    color:rgba(0, 0, 0, 0.877);
    line-height: 16px;
}
.placeOne button{
    background-color: cadetblue;
    color: white;
    padding: 10px 20px;
    font-size: 500;
    border: none;
    border-radius: 10px;
}
.placeTwo{
    display:block;
    width: 250px;
    height: 250px;
    background-color:cadetblue;
    transform: translateX(200px);
    border-top-right-radius: 50px;
    position: relative;
    box-shadow: 10px 10px 2px cadetblue;
}
.placeTwo::after{
    position: absolute;
    content: "";
    display:block;
    width: 20px;
    height: 20px;
    background-color: rgb(31, 129, 44);
    right: -10px;
    bottom: -5px;
    border-radius: 50%;
}
.placeTwo img{
    width:100%;
    height: 100%;
    border-top-right-radius: 50px;
}
/* main place books */
.head{
    background-color: inherit;
    border-radius: 50px;
    position: relative;
    border: 2px solid cadetblue;
    font-weight: bold;
    font-size: 20px;

}
.head::after{
    content:"";
    display: block;
    width: 200px;
    height: 100px;
    background-color: white;
    right: -5px;
    bottom: -10px;
    transform: rotate(20deg);
    position: absolute;
}
/* book item */
.book{
    display: flex;
    align-items: flex-start;
    gap:20px;
    border: 1px solid cadetblue;
    border-radius: 20px;
    position: relative;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.book:hover{
    /* transform: scale(1.1); */
    box-shadow: -2px 3px 1px lightgray;
}
.book-img{
    width: 100px;
    height: 100px;
    display: block;
    background-color: cadetblue;
    border-top-right-radius: 10px ;
    border-bottom-right-radius:10px ;
    /* box-shadow: 2px -3px 1px lightgray,-2px 3px 1px lightgray; */
    box-shadow: -2px 3px 1px lightgray;
    overflow: hidden;
}
.book-img img{
    width: 100%;
    height: 100%;
}
.book-containt{
    width:300px;
}
.book-title{
    margin-bottom: 10px;
}
.book a{
    text-decoration: none;
    color: cadetblue;
    right: 10px;
    top: 10px;;
    position: absolute;
    font-size: 16px;
    font-weight: bold;

}
.book-author{
    font-size: 18px;
    font-weight: bold;

}

.none{
    display: none !important;;
    transition: all .3s ease-in-out;
}
.book-header{
    border-bottom-left-radius: 100px;
    border-bottom-right-radius:100px;
    display:flex;
    justify-content: center;
    align-items: center;
    height:200px;
    background: linear-gradient(90deg, rgba(95, 158, 160, 0.329),rgba(2, 2, 2, 0.11));
    flex-direction: column;
    text-align: center;
}
.jf-center{
    display: flex;
    justify-content: space-around!important;
    align-content: center;
    gap: 100px;
}
.jf-column{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.commandBox{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
    border-bottom: 1px solid #5f9ea0b7;
}
.command{
    display: flex;
    gap:20px;
}
.commandItem{
    display: flex;
    gap: 10px;
    text-transform: capitalize;
    border: 1px solid lightgray;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
}
.size{
    position: relative;
}
.cmd{
    background-color: #5f9ea091;;
    width: 100%;
    position: absolute;
    left:0;
    bottom: -100px;
    right: 0;
    z-index: 200;
    border-radius: 10px;
    color: white;

    
}
.marque .cmd{
    position: absolute;
    z-index: 200;
    bottom: 5px;
    left: 100px;
    display: none;
    gap:10px;
    width:fit-content;
}
.marque .cmd div{
    display: flex;
    gap:10px;
    align-items: center;
}
.color{
    display:block;
    width:10px;
    height: 10px;
    border-radius: 50%;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}
.red{
    background-color: red;
}

.cmd div{
    display: none;
    padding: 0px 10px;
}
.show-item div{
    display: block;
}
.marque.show-item div{
    display: flex;
}
.cmd div:hover{
    background-color: #5f9ea0;
}
.marque{
    position: relative;
}
#text::selection{
    background-color: #5f9ea091;
}
/* Annonce Compte premuim */
.desable{
    position: absolute;
    width:100vw;
    height: 100vh;
    background: linear-gradient(45deg,#5f9ea0dc 10%,rgba(255, 255, 255, 0.925) 80%);
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.darkMode .desable{
    color:black;
}
.annonce{
    background-color: white;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
    /* border-radius: 20px; */
    position: relative;
}
.annonce::before{
    content: '';
    display: block;
    width:16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgb(31, 129, 44);
    position: absolute;
    top:-5px;
    right: -5px;
    animation:user 1s ease-out infinite;
}
/* form place */
.darkMode .sing-in-place{
    color: black;
}
.sing-in-place{
    background-color: #5f9ea0a8;
    width:100vw;
    height:100vh;
    display: flex!important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index:  2000;
    gap:20px;
    position: absolute;
    top:0;
}
.control-nom{
    font-size: 14px;
}
.sing-in-place form.none{
    display: none!important;
}
.sing-in-place form{
    width:400px;
    background: white;
    padding: 30px;
    display: grid;
    gap:10px;
}
.sing-in-place form input[type=submit]{
    border:none;
    border-radius: 10px;
    background-color: #5f9ea0;
    padding: 10px;
    color: white;

}
.form-item{
    width: 100%;
    height: 30px;
    border:1px solid lightgray;
    border-radius: 10px;
    padding-left: 10px;
}
.createAccount{
    color:#5f9ea0;
    text-decoration: none;
    text-decoration: underline;
}
.connectAccount{
    color:#5f9ea0;
    text-decoration: none;
    text-decoration: underline;
}
.form-controle{
    display: grid;
    position: relative;
}
.form-controle i{
    position: absolute;
    right: 5px;
    top:7px;
    color:#5f9ea080;
    cursor: pointer;
}
.form-controle i:hover{
    color:#5f9ea0;
}
.form-controle .form-item{
    width: 100%;
    height: 30px;
    border:1px solid lightgray;
    border-radius: 10px;
    padding-left: 10px;
}
.create-account{
    display: none !important;
}
.placeSearch{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.placeSearch img{
    transform: translateX(-10px);
    cursor: pointer;
}
@media screen and (max-width: 1080px) {
    .container{
        width: 800px;
        /* background-color: red; */
    }
    .heroSection{
        grid-template-columns: 300px 1fr;
        gap: 0px !important;
    }
    .placeTwo{
        display:block;
        width: 300px;
        height: 300px;
        transform: translateX(20px);
    }
    .placeTwo{
        display:block;
        width: 250px;
        height: 250px;
        transform: translateX(20px);
    }
}

@media screen and (max-width: 950px) {
    .container{
        width: 600px;
    }
    .heroSection{
        grid-template-columns: 1fr 1fr;
        gap: 0px !important;
    }
    .nav-bar ul{
        display: none;
    }
    .nav-item-show{
        display: flex!important;
        position: absolute;
        flex-direction: column;
        bottom: -100px;
        right: 100px;
        gap: 10px !important;
        z-index: 2000;
        padding-left: 60px;
    }
    .placeTwo{
        display:block;
        width: 200px;
        height: 200px;
        transform: translateX(20px);
    }
    .placeOne h1{
        font-size: 24px;
    }
    .userConnect .ronder{
        width:30px;
        height: 30px;
    }
    .userConnect .ronder .active{
        bottom: 3px;
        right: -3px;
    }
    .userConnect .ronder .red {
        bottom: 3px;
        right: -3px;
    }
    .nav-open-icon{display: block;cursor: pointer;}
    .nav-close-icon{display: block;cursor: pointer;}    
    .none{
        display: none;
    }
    .book-header{
        border-bottom-left-radius: 50px;
        border-bottom-right-radius:50px;
    }
}
@media screen and (max-width: 750px){
    /* annonce for tokken */
    .desable{
        align-items: center;
        padding-top:100px;
    }
    .container{
        width: 80%;
    }
    .heroSection{
        grid-template-columns: 1fr;
        gap: 20px !important;
    }
    .placeTwo{
        display:none;
        width: 200px;
        height: 200px;
        transform: translateX(300px);
    }
    .search{
        display: none;
    }
    .nav-item-show{
        right:50px;
        background-color: white;
        z-index: 2000;
    }
    .darkMode .nav-item-show{background-color: black;z-index: 2000;}
    .nav-search-show{
        display: block;
        right: 50px!important;
        position: absolute;
    }
    .search.nav-search-show{
        top:140px;
    }
    .search.nav-search-show input{
        width: 100px;
    }
    .searchSuggession{
        transform: translateX(-50px);
    }
    .nav-bar{
        padding-left: 50px;
        padding-right: 50px;
    }
    .jf-center{
        flex-direction: column;
        justify-content: center!important;
    }
    .book-header{
        border-bottom-left-radius: 30px;
        border-bottom-right-radius:30px;
    }
    .command{
        flex-direction: column;
    }
    .marque .cmd{
        bottom: -20px;
        left: -150px;
    }
    .marque .cmd div{
        gap:10px;
    }    
    .commandItem{
        gap: 0!important;
    }
    .back{
        position: fixed;
        top:120px;
        left: 40px;
        font-size: 11px;
        z-index: 2000;
        background-color: white;
        padding: 10px;
    }
}
@media screen and (max-width: 432px){
    .container{
        width: 80%;
    }
    .mode{
        display: none;
    }
    .mode.nav-mode-show{
        display: flex;
        align-items: center;
        position: absolute;
        top:30px;
        right: 50px;
    }
    .mode.nav-mode-show span{
        display: none;
    }
    .commandBox{
        flex-direction: column;
        gap:0;
        align-items: flex-start;
    }
    .marque .cmd{
        bottom: -20px;
        left: 0px;
    }
    .jf-column{
        width: 100% !important;
    }
    .jf-center{
        width: 100% !important;
    }
    .head::after{
        content:"";
        display: block;
        width: 100px;
        height: 100px;
        background-color: white;
        right: -5px;
        bottom: -10px;
    }
    .book-containt h2{
        font-size: 18px;
    }
    .book-containt p{
        font-size: 14px!important;
    }
    .cmd small{
        display: none;
    }
}